<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}" class="button">Home</a>
        <a href="{{ url_for('description') }}" class="button">About</a>
        
        <a href="{{ url_for('customer') }}" class="button">Customer Reviews</a>

        <a href="{{ url_for('view_cart') }}" class="button">Cart</a>


        {% if session.get('username') %}
            <a href="{{ url_for('logout') }}">Logout ({{ session.username }})</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="button">Login</a>
        {% endif %}
    </div>
    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit" class="button">Login</button>
        </form>
        <br><hr><br>
        <a href="{{ url_for('index') }}" class="button">Back to Home</a>
    </div>
</body>
</html>
